<p>
  <strong>Commentator:</strong>
  <%= comment.commentator %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.comment %>
</p>

<ul>
  <li><%= link_to "Edit", edit_article_comment_path(@article,comment) %></li>
  <li><%= link_to "Destroy", article_comment_path(@article,comment.id), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  }  %></li>
</ul>

